body {
  overflow-x: hidden;
  background: #cbe4fc;
  min-width: 0;
}

@media (max-width: 900px) {
  .dashboard-grid {
    display: block !important;
  }
  .dashboard-cards {
    flex-direction: column !important;
    gap: 1em !important;
    align-items: stretch !important;
  }
  body {
    font-size: 16px;
  }
}
